\.DS_Store
\.vscode
build
tmp
*\.tmp
~*
*~
\.settings
\.classpath
*\.xcuserdatad
xcshareddata
*\.user
*\.ncb
*\.suo
*\.usr
Debug
Debug Static
Release
Release Static
*\.scc
cscope\.files
cscope\.out
*\.class
*\.o
*\.o\.*
_*
!__init*
\#*
\.#*
\.svn
\.cvs
*\.pyc
*\.dmp
*\.sdf
*\.opensdf
ipch
*\.err
*\.log
*\.wrn
objchk_*
objfre_*
@
*\.cmd
\.tmp*
*\.symvers
*\.order
*\.mod\.c
\.ropeproject
\.AppleDouble
\.metadata
\.plugins
obj
bin
bin-debug
bin-release
libs
gen
\.gradle
\.pdsync
\.pdsyncu
\.elc
\.beam
\.idea
\.iml
out
RECOVER_*
\.fuse_*
*\.swf
wingProperties\.json
Thumbs\.db
\.n*
publish
\.wing
\.project
\.buildpath
\.actionScriptProperties
node_modules
*.pyc
__pycache__
